BODY {
	BACKGROUND-COLOR: #003333
}
.normal_text {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #cccccc; LINE-HEIGHT: 12pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.normal_text_flush_right {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #cccccc; LINE-HEIGHT: 12pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
INPUT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; COLOR: #cccccc; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003333
}
TEXTAREA {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; COLOR: #cccccc; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003333
}
SELECT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; COLOR: #cccccc; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003333
}
.normal_text_bigger {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #cccccc; LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.download_header {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #cccccc; LINE-HEIGHT: 16pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI {
	LIST-STYLE-POSITION: outside; COLOR: #cccccc; LIST-STYLE-TYPE: disc
}
.skinnytable {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.paragraph_header {
	FONT-WEIGHT: lighter; FONT-SIZE: 14pt; COLOR: #cccccc; LINE-HEIGHT: 18pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tiny_text {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
