.flyoutMenu {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BEHAVIOR: url(./css/flyout.htc); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.flyoutHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; CURSOR: default; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #002222
}
.flyoutLink {
	BORDER-RIGHT: #f1f1f1 0px solid; BORDER-TOP: #f1f1f1 0px solid; FONT-SIZE: 9px; BORDER-LEFT: #f1f1f1 0px solid; CURSOR: hand; BORDER-BOTTOM: #f1f1f1 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica
}
.flyoutMenu TD.flyoutLink {
	BORDER-RIGHT: #f1f1f1 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f1f1f1 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; BORDER-LEFT: #f1f1f1 0px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #f1f1f1 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica
}
.flyoutLink A {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutLink A:hover {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutLink A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutLink A:active {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutSubHeading {
	PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 70%; PADDING-BOTTOM: 4px; CURSOR: default; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #f1f1f1
}
.flyoutSubLink {
	BORDER-RIGHT: #f1f1f1 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #f1f1f1 1px solid; PADDING-LEFT: 11px; FONT-SIZE: 70%; PADDING-BOTTOM: 3px; BORDER-LEFT: #f1f1f1 1px solid; CURSOR: hand; PADDING-TOP: 1px; BORDER-BOTTOM: #f1f1f1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica
}
.flyoutSubLink A {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutSubLink A:hover {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutSubLink A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.flyoutSubLink A:active {
	COLOR: white; TEXT-DECORATION: none
}
