BODY
{	COLOR: black;
	MARGIN-RIGHT: 20px;
	FONT-FAMILY: verdana;
	FONT-SIZE: x-small;
	BACKGROUND-COLOR: #fffbf2;
	TEXT-ALIGN: center;
}

.ba	{BACKGROUND-IMAGE: url(..\images\menu.gif)}

a:link    {text-decoration:underline; color:#400000;}
a:visited {text-decoration:underline; color:#999900;}
a:active  {text-decoration:none; color:#400000;}
a:hover   {text-decoration:underline; color:#990000;}

table
{	BACKGROUND-COLOR: #fffbf2;
	FONT-FAMILY: verdana;
	COLOR: black;
	FONT-SIZE: x-small;

}

.bc{BACKGROUND-COLOR: #d8caa9;vertical-align: baseline}

.bd{BACKGROUND-COLOR: #e7decb;vertical-align: baseline}

.bb
{	BACKGROUND-IMAGE: url(..\images\menu.gif);
	FONT-WEIGHT: bold;

}

.titre	
{	FONT-SIZE: x-large;
	FONT-FAMILY: Comic Sans MS;
	FONT-WEIGHT: bold;
}

.lien	
{	FONT-SIZE: x-small;
	FONT-FAMILY: Comic Sans MS;
	FONT-WEIGHT: bold;
}

.l2	
{	FONT-SIZE: small;
	FONT-FAMILY: Comic Sans MS;
	FONT-WEIGHT: bold;
}

.q
{	FONT-FAMILY: Comic Sans MS;
	FONT-WEIGHT: bold;
}

.te
{	COLOR: #009900;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Comic Sans MS;
}

.tc
{	COLOR: #999999;
	FONT-SIZE: xx-small;
	FONT-FAMILY: arial;
}

.stitre
{	COLOR: #999900;
	FONT-STYLE: italic;
}

.pied
{	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	FONT-STYLE: italic;
}

.p
{	COLOR: #999999;
	FONT-SIZE: xx-small;
	FONT-STYLE: italic;
}

.ti
{	FONT-STYLE: italic;
	FONT-WEIGHT: bold;
}

.maj
{	FONT-SIZE: large;
	FONT-WEIGHT: bold;
}

.piedg
{	FONT-SIZE: xx-small;
	COLOR: #999999;
	FONT-WEIGHT: bold;
}

.r
{	COLOR: #990000;
	FONT-SIZE: x-large;
	FONT-WEIGHT: bold;
}

.d
{	COLOR: #000099;
	FONT-WEIGHT: bold;
}

.tb
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
}

.tg
{	COLOR: #999900;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
}

.td
{	COLOR: #999900;
	FONT-WEIGHT: bold;
}
.a
{	vertical-align: baseline;
	TEXT-ALIGN: right;
}

.b
{	vertical-align: top;
	TEXT-ALIGN: left;
}

.ta	{FONT-SIZE: xx-small}

.tf
{	COLOR: #999900;
	FONT-SIZE: xx-small;
}

.st
{	COLOR: #999900;
	FONT-FAMILY: Comic Sans MS;
	FONT-STYLE: italic;
}

.f
{	FONT-SIZE: xx-small;
	COLOR: #990000;
	FONT-FAMILY: arial;
}

.t {COLOR: #990000}

.r4
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: #0000ff;
}

.r3
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: #ff0000;
}

.b2 
{
	FONT-SIZE: medium;
	FONT-WEIGHT: bold;
}
.M4
{	FONT-SIZE: xx-small;
	COLOR: #0000ff;
}
.M4B
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: #0000ff;
}
.M3
{	FONT-SIZE: xx-small;
	COLOR: #5f039c;
}
.M3B
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: #5f039c;
}
.M2
{	FONT-SIZE: xx-small;
	COLOR: #ff0000;
}
.M2B
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: #ff0000;
}
.M1
{	FONT-SIZE: xx-small;
	COLOR: #009900;
}.M1B
{	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: #009900;
}