.textboxstyle {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textboxheader {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; TEXT-INDENT: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.textboxHIGHLIGHT {
	FONT-SIZE: 10px; COLOR: #eb7c01; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.searchboxstyle {
	BORDER-RIGHT: #89a8d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #89a8d1 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #89a8d1 1px solid; WIDTH: 150px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #89a8d1 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #4573b3
}
.copyright {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsDate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsContent {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdContent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdContentTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdContentDate {
	FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdContentRED {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #cc0033; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.statslight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.scriptsContent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resStats {
	FONT-SIZE: 11px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resHead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resMAGMA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resGMAX {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resLUNA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #aa5500; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resGRANITE {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resStandard {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resDescription {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resAdminVerified {
	FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copyrightOnWhite {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.stdScriptContent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.looseScriptContent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdScriptName {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.magma {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gmax {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.luna {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #aa5500; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.granite {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.catalyst {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.other {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdTitleBox {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #efefef
}
.stdTitleUnderline {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #efefef
}
.std10pixIndent {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
.std5pixFooter {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 10px
}
.stdContentNOCOLOR {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.NavBarStatus {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.vesper {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
